if SHIELD_WORK-KEY_R

config ZMK_KEYBOARD_NAME
    default "Work-Key_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_WORK-KEY_L

config ZMK_KEYBOARD_NAME
    default "Work-Key_L"

config ZMK_SPLIT
    default y

endif
